<% content_for :head do %>
  <title>GAN Opportunities</title>
  <%= javascript_include_tag "users/registration" %>
<% end %>

<h3>Step 2: Complete Registration</h3>
  <p>
    Please type in the rest of information! 
  </p>

<br>

<%= form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'patch', :id => "confirmation_form", :multipart => 'true'} do |f| %>
	<fieldset>
		<legend>Account activation <%= resource.full_name %></legend>

	<% if @requires_password %>
		<p><%= f.label :password, "Password", :class => "section-header"%><br>
		 <%= f.password_field :password, :autofocus => true %></p>
		 
		<p><%= f.label :password_confirmation, "Password Confirmation ", :class => "section-header" %><br>
		 <%= f.password_field :password_confirmation %></p>
	<% end %>

  <div><%= f.label :Photo, :class => "section-header" %><br>
    <%= f.file_field :avatar %></div><br>


	<div><%= f.label :Phone, :class => "section-header" %><br>
  	<%= f.text_field :phone %></div> 

  
	
  	<%= check_box_tag :license %>&nbsp;I agree to the terms of agreement&nbsp;
  	<a class="btn btn-primary" id="licenseButton">View</a>
  	
  	<br>
  	<br>

	<%= hidden_field_tag :confirmation_token,@confirmation_token %>
	<p><%= f.submit "Activate", :class => "btn btn-primary" %></p>
	</fieldset>
<% end %>




<!-- Modal -->
<div class="modal fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Terms of Agreement</h3>
      </div>
      <div class="modal-body">
        You are now affiliated with Gann Academy.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Accept</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Error!</h3>
      </div>
      <div class="modal-body">
        Please check the terms of agreement button!
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->