<%= form_for(@opportunity) do |f| %>
  
<%= render 'opportunities/shared/error_messages', object: @opportunity %>
  	<div><%= f.label "Title", :class => "section-header" %>
  	<%= f.text_field :title %></div>
    
    <br>
  	
    <div><%= f.label "Company", :class => "section-header" %>
  	<%= f.text_field :company %></div>
    
    <br>
 	  
    <div><%= f.label "Type", :class => "section-header" %>
  	<%= f.collection_select :job_type, Type.all, :name, :name, prompt: true %></div>

    <br>

  	<div><%= f.label "Job Description", :class => "section-header" %>
  	<%= f.text_area :description, :class => "span6", :rows => "6", :placeholder => "Enter Job Description here" %></div>

    <br>

    <div><%= f.label "Skills", :class => "section-header" %>
    <% counter = 0 %>  
    <% @skills.each do |s|%>
      <%= s.skill %>
      <%= check_box_tag 'skills[]', s.id %>
      <% if ((counter +=1) % 4) == 0 %>
        <br>
      <% end %>
    <% end %>
  </div>

    <br>
	 <div><%= f.label "Location", :class => "section-header" %>
  	<%= f.text_field :location %></div>

  	<div><%= f.label "time", :class => "section-header" %>
  	<%= f.text_field :time %></div>  	

  	
	<%= f.submit %>
<% end %>