<%= image_tag attachments['gann_banner.png'].url %>
<br>

<h2> Dear Admin,</h2>
<p style="font-size: 16px;">
	<strong><%= @contact.name %></strong> of <strong><%= @contact.from_email %></strong> contacted you on 
	<span style="font-style: italics;"><strong><%= @category %></strong></span>
	<br>
	<br>
	<p>
		<%= @contact.content %>
	</p>
	<br>
	Best,<br>

	GAN (Gann Alumni Network) support team
</p>