
<strong><%= @user.full_name %> (Class of <%= @user.classyear %>)</strong> wants to connect with <%= @opportunity.user.full_name %><br>
on <%= @opportunity.title %><br><br>

Below is a message <%= @user.fname %> has attached:<br>
<p>
	<%= @application.message %>
</p>