<h3> Dear <%= @opportunity.user.full_name %></h3>,

<strong><%= @user.full_name %></strong> (Class of <%= @user.classyear %>) wants to connect with you:<br>

<h4>Title:</h4>&nbsp;<%= @opportunity.title %><br>
<h4>Company:</h4>&nbsp;<%= @opportunity.company %><br>

<br>

Below is a message <strong><%= @user.full_name %></strong> has written:<br>
<p style="font-style: italic;">
	<%= @application.message %>
</p>

Please check the attachments that <%= @user.fname %> has attached.
(There might be none)

<br><br><br>

Best,<br>

GAN (Gann Alumni Network) support team