<%= render "admins/shared/head" %>
<% content_for :title, "Invitations" %>

<div class="large_container">

	<%= render "admins/shared/nav" %>
	<h3>View Invitations</h3>
	<hr class="style-one"></hr>
	
	<div class="pull-right">
		<span class="italics">Export Invitations</span>&nbsp;<%=link_to "Export", invitations_path(format: 'csv'), :class => "btn btn-primary" %>
	</div>
	<div class="clear"></div>
	
	<br>

	<div>
		<table class="table table-striped">
			<tr>
				<th></th>
				<th>Name</th>
				<th>E-mail</th>
				<th>Inviter</th>
				<th>Invitation Sent</th>
				<th>Invitation Accepted</th>
			</tr>

			<% @invited_users.each do |u| %>
				<% inviter = User.find(u.invited_by_id) %>
				<tr>
					<td>
						<% if u.invitation_accepted_at != nil %>
							<span class="label label-success">Accepted</span>
						<% else %>
							<span class="label label-warning">Not accepted</span>
						<% end %>
					</td>
					<td><%= u.full_name %></td>
					<td><%= u.email %></td>
					<td><%= inviter.full_name %> (<%= inviter.type %>) </td>
					<td><%= u.invitation_sent_at.strftime('%b. %e, %Y') %></td>
					<% if u.invitation_accepted_at %>
						<td><%= u.invitation_accepted_at.strftime('%b. %e, %Y') %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
			<% end %>	
		</table>
	</div>
</div>
<br>
