<h3>View Invitations</h3>

<div>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Name</th>
			<th>E-mail</th>
			<th>Inviter</th>
			<th>Invitation Sent</th>
			<th>Invitation Accepted</th>
		</tr>

		<% @invited_users.each do |u| %>
			<% inviter = User.find(u.invited_by_id) %>
			<tr>
				<td>
					<% if u.invitation_accepted_at != nil %>
						<span class="label label-success">Accepted</span>
					<% else %>
						<span class="label label-warning">Not accepted</span>
					<% end %>
				</td>
				<td><%= u.full_name %></td>
				<td><%= u.email %></td>
				<td><%= inviter.full_name %> (<%= inviter.type %>) </td>
				<td><%= u.invitation_sent_at.strftime('%b. %e, %Y') %></td>
				<td><%= u.invitation_accepted_at.strftime('%b. %e, %Y') %></td>
			</tr>
		<% end %>	
	</table>
</div>
<br>
