<%= render "admins/shared/head" %>
<% content_for :title, "Manage connections" %>

<div class="large_container">

	<%= render "admins/shared/nav" %>

	<h3>Manage Connections</h3>
	<hr class="style-one"></hr>
	<div class="pull-right">
		<span class="italics">Export connections</span>&nbsp;&nbsp;<%= link_to "Export", export_applications_path(format: "csv"), :class=> "btn btn-primary" %>
	</div>
	<div class="clear"></div>
	<br>
	<div>
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Opportunity ID</th>
				<th>Opportunity</th>
				<th>Sent by</th>
				<th>Sent to</th>
				<th>Sent Date</th>
				<th></th>
			</tr>

			<% @applications.each do |f| %>
				<% opportunity = f.opportunity %>
				<tr>
					<td><%= f.id %></td>
					<td><%= opportunity.id %></td>
					<td><%= opportunity.title %></td>
					<td><%= f.user.full_name %></td>
					<td><%= opportunity.user.full_name %></td>
					<td><%= f.created_at.strftime('%b. %e, %Y') %></td>
					<td><%= link_to "View", opportunity_application_path(opportunity,f) %></td>
				</tr>
			<% end %>	
		</table>
	</div>
</div>
<br>
