<%= render "admins/shared/head" %>

<% content_for :title, "View Alum" %>

<div class="large_container">

	<%= render "admins/shared/nav" %>
	<h3>View Alum</h3>
	<hr class="style-one"></hr>

	<p>
		Import the Alum list in '.csv' format.<br> The CSV file must have following column names: "id", "fname", "lname", "classyear", "parent_email_1", and "parent_email_2". The "id" must be a unique value, or the original record will be overwritten by a new record with the same id.
	</p>

	<h5> Import Users in CSV format </h5>
	<%= form_tag import_users_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import" %>
	<% end %>

	<div>
		<table class="table table-striped">
			<tr>
				<th></th>
				<th>id</th>
				<th>Name</th>
				<th>Parent e-mail #1</th>
				<th>Parent e-mail #2</th>
				<th>Class year</th>
				<th>Updated Date</th>
			</tr>

			<% @alum.each do |f| %>
				<tr>
					<td>
						<% if f.registered %>
							<span class="label label-success">Registered</span>	
						<% else %>
							<span class="label label-warning">Not registered</span>
						<% end %>
					</td>
					<td><%= f.id %></td>
					<td><%= f.fname %> <%= f.lname %></td>
					<td><%= f.parent_email_1 %></td>
					<td><%= f.parent_email_2 %></td>
					<td><%= f.classyear %></td>
					<td><%= f.updated_at.strftime('%b. %e, %Y') %></td>
				</tr>
			<% end %>	
		</table>
	</div>
</div>
<br>
