<% content_for :head do %>
	<title>New Application</title>
	<%= javascript_include_tag "applications/new" %>
<% end %>

<div class="container">

	<h3>Make Connection</h3>
	<hr class="style-one"></hr>

	<div class="align-left">
		<%= image_tag @opportunity.upload.url(:medium), :class=>"box_radius" %>
	</div>
	
	<div class="align-left indent">
		<h1>
			<%= @opportunity.title %> 
			<br>
			<small> <%= @opportunity.company %></small>

		</h1>
	</div>
	<div class="clear"></div>
</div>

<br>

<div class="container">

	<%= render 'applications/shared/form' %>

</div>