<% content_for :head do %>
	<title>GAN Opportunities</title>
	<%= javascript_include_tag "opportunities/show" %>
<% end %>

<br>

<div class="page-header">
	<h1>
		<%= @opportunity.title %> 
		<small> <%= @opportunity.company %></small>
	</h1>
</div>

<%= link_to "View Opportunity", opportunity_path(@opportunity) %>

<br>

<p class="section-header"><i class="fa fa-user"></i>&nbsp;Applicant</p>
<div>
	<span class="indent"/><%= @applicant.full_name %> ( id: <%= @applicant.id%> ) 
	<%= link_to "View Applicant", opportunity_application_path(@opportunity,@application) %>
</div><br>

<br>

<p class="section-header"><i class="fa fa-user"></i>&nbsp;Opportunity provider</p>
<div>
	<%= @opportunity.user.full_name %> (id: <%= @opportunity.user.id %> )
	<%= link_to "View Provider", opportunity_application_path(@opportunity,@application) %>
</div>

<br>

<p class="section-header"><i class="fa fa-envelope"></i>&nbsp;Message</p>
<div>
	<%= @application.message %>
</div>

<br><br>

<%= link_to "Back", opportunities_path, :class =>"btn btn-info" %>
