<h3 class="header"><%= current_user.full_name%></h3>

<br>
<%= image_tag current_user.avatar.url(:medium), :class=>"box_radius" %>
<br><br>

<span class="section-header"><i class="icon-envelope"></i></span>&nbsp;&nbsp;
<%= current_user.email %><br><br>

<span class="section-header"><i class="icon-phone"></i></span>&nbsp;&nbsp;
<%= current_user.phone %><br><br>

<% if alum_signed_in? %>
	<span class="section-header"><i class="icon-briefcase"></i></span>&nbsp;&nbsp;
	class of <%= current_user.classyear %><br><br>
<% end %>

<br><br>
<%= link_to "Edit Account", edit_user_registration_path, :class => "btn btn-info" %>
<br><br>
Do you want to invite non-alum to this GAN platform?&nbsp; 
<%= link_to "Invite", new_user_invitation_path, :class => "btn" %>