<h3 class="header">
	<%= current_user.full_name%>
	<% if current_user.is_alum? %>
		<span class="label label-primary">Alum</span>	
	<% else %>
		<span class="label label-info">Friend</span>	
	<% end %>
</h3>



<br>
<%= image_tag current_user.avatar.url(:medium), :class=>"box_radius" %>
<br><br>


<span class="section-header"><i class="fa fa-envelope"></i></span>&nbsp;&nbsp;
<%= current_user.email %><br><br>

<span class="section-header"><i class="fa fa-phone"></i></span>&nbsp;&nbsp;
<%= current_user.phone %><br><br>

<% if alum_signed_in? %>
	<span class="section-header"><i class="fa fa-briefcase"></i></span>&nbsp;&nbsp;
	class of <%= current_user.classyear %><br><br>
<% end %>

<% if @uploads != nil %>
	<span class="section-header"><i class="fa fa-book"></i>&nbsp;Resume</span><br>
	<% @uploads.each do |u| %>
		<div>
			&nbsp;&nbsp;
			<i class="icon-hand-right"></i>&nbsp;<%= u.avatar_file_name%> &nbsp;
			<%= link_to "Download",  u.avatar.url %>
		</div>
	<% end %>
<% end %>
<br>


<br><br>
<%= link_to "Edit Account", edit_user_registration_path, :class => "btn btn-info" %>
<br><br>
Do you want to invite non-alum to this GAN platform?&nbsp; 
<%= link_to "Invite", new_user_invitation_path, :class => "btn" %>