<div class="account_left">
	<h3 class="header">
		<%= @user.full_name%>
		<% if @user.is_alum? %>
			<span class="label label-success">Alum</span>	
		<% else %>
			<span class="label label-info">Friend</span>	
		<% end %>
	</h3>
	
	<br>
	<div class="text-align-center">
		<%= image_tag @user.avatar.url(:medium), :class=>"box_radius", :style =>"display: inline-block;" %>
	</div>
	<br><br>


	<span class="section-header">Email</span>&nbsp;&nbsp;
	<%= @user.email %><br><br>

	<span class="section-header">Phone</span>&nbsp;&nbsp;
	<%= @user.phone %><br><br>

	<% if alum_signed_in? %>
		<span class="section-header">Gann graduation class</span>&nbsp;&nbsp;
		class of <%= @user.classyear %><br><br>
	<% end %>

	<% if @uploads.length != 0 %>
		<span class="section-header">Resume</span><br>
		<div class="align-right">
			<% @uploads.each do |u| %>
				<div>
					<span class="indent"/>
					<i class="fa fa-check"></i>&nbsp;<%= u.avatar_file_name%> &nbsp;

					<%= link_to user_attachment_download_path(:user_id=>@user.id, :id => u.id, :type => "display"), :class =>"btn btn-success", :target =>"_blank" do %>
						<i class="fa fa-desktop"></i>&nbsp;View
					<% end %>
					<%= link_to user_attachment_download_path(:user_id=>@user.id, :id => u.id, :type => "download"), :class =>"btn btn-primary", :target =>"_blank" do %>	
						<i class="fa fa-download"></i>&nbsp;Download
					<% end %>

				</div>
				<br>
			<% end %>
		</div>
		<div class="clear"></div>
		<br>
	<% end %>
	

<% if false %>
		<span class="section-header">&nbsp;Skills & Interests</span><br>
		<% @skills.each do |skill| %>
			<div><span class="indent"/><i class="fa fa-check"></i>&nbsp;<%= skill.skill %></div>
		<% end %>		
<% end %>

		<% if (address=@user.address) %>
			<span class="section-header">&nbsp;Address</span><br>
			<span class="indent"/><%= address.address_1 %><br>
			<span class="indent"/><%= address.address_2 %><br>
			<span class="indent"/><%= address.city %>,&nbsp;<%= address.state %>,&nbsp;<%= address.country %>
		<% end %>
		<br>
		<span class="section-header"><i class="fa fa-edit"></i></span>&nbsp;&nbsp;
		last updated at:  <%= @user.updated_at.strftime('%b. %e, %Y') %><br><br>
		<div class="align-right">
			<%= link_to "Edit Account", edit_user_registration_path, :class => "btn btn-info" %>
		</div>
		<div class="clear"></div>

	
	

	
</div>