<% content_for :title, "My Account" %>

<div class="account">
	<h3 class="header">
		<%= @user.full_name%>
		<% if @user.is_alum? %>
			<span class="label label-success">Alum</span>	
		<% else %>
			<span class="label label-info">Friend</span>	
		<% end %></h3>
		<h2 style="margin-top: 0px;">
			<small>
				<%= @user.title %> 
				<% if !@user.company.empty? %>
					at <%= @user.company %>
				<% end %>
			</small>
		</h2>
	
	
	<br>
	<div class="text-align-center">
		<%= image_tag @user.avatar.url(:medium), :class=>"box_radius", :style =>"display: inline-block;" %>
	</div>
	<br><br>


	<span class="section-header">Email</span>&nbsp;&nbsp;
	<%= @user.email %><br><br>

	<% if @user.phone!=nil and !@user.phone.empty? %>
		<span class="section-header">Phone</span>&nbsp;&nbsp;
		<%= @user.phone %><br><br>
	<% end %>

	<% if alum_signed_in? %>
		<span class="section-header">Gann graduation class</span>&nbsp;&nbsp;
		class of <%= @user.classyear %><br><br>
	<% end %>

	<% if @uploads.length != 0 %>
		<span class="section-header">Resume</span><br>
		<div class="align-right">
			<% @uploads.each do |u| %>
				<div>
					<span class="indent"/>
					<i class="fa fa-check"></i>&nbsp;<%= u.avatar_file_name%> &nbsp;

					<%= link_to user_attachment_download_path(:user_id=>@user.id, :id => u.id, :type => "display"), :class =>"btn btn-success", :target =>"_blank" do %>
						<i class="fa fa-desktop"></i>&nbsp;View
					<% end %>
					<%= link_to user_attachment_download_path(:user_id=>@user.id, :id => u.id, :type => "download"), :class =>"btn btn-primary", :target =>"_blank" do %>	
						<i class="fa fa-download"></i>&nbsp;Download
					<% end %>

				</div>
				<br>
			<% end %>
		</div>
		<div class="clear"></div>
		<br>
	<% end %>
	
	<% if alum_signed_in? %>
		<span class="section-header">&nbsp;Professional Domains and Functions</span><br>
		<% @skills.each do |skill| %>
			<div><span class="indent"/><i class="fa fa-check"></i>&nbsp;<%= skill.skill %></div>
		<% end %>		
	<% end %>

		<br>

		<% if (address=@user.address) %>
			<span class="section-header">&nbsp;Address</span><br>
			<span class="indent"/><%= address.address_1 %><br>
			<span class="indent"/><%= address.address_2 %><br>
			<span class="indent"/><%= address.city %>,&nbsp;<%= address.state %>,&nbsp;<%= address.country %>
		<% end %>
		<br><br>
		<span class="section-header"><i class="fa fa-edit"></i></span>&nbsp;&nbsp;
		Last updated on:  <%= @user.updated_at.strftime('%b. %e, %Y') %><br><br>
		<div class="pull-right">
			<div class="pull-right">
				
				<%= link_to "Edit Account", edit_user_registration_path, :class => "btn btn-primary" %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	
</div>

<% if false %>
	<% if @user.has_invitations_left? %>
				<div class="pull-right">
					<span class="italics">Want to invite others to the platform?</span>&nbsp;<%= link_to "Invite", new_user_invitation_path, :class => "btn btn-success" %>
				</div>
			<% end %>
			
			<br><br>
<% end %>