
<%= render "admins/shared/head" %>
<% content_for :title, "Manage Users" %>

<div class="large_container">

	<%= render "admins/shared/nav" %>

	<h3>Manage Users</h3>
	<hr class="style-one"></hr>
	<br>
	<%= form_tag admins_users_path, method: :get, :class => "form-inline" do %>
			<div class="align-right">
				<span class="italics">Export users in CSV format</span>&nbsp;&nbsp;<%= link_to "Export users", admins_users_path(format: "csv"), :class =>"btn btn-primary" %>
			</div>
			<div class="clear"></div>
			<br>
			<div class="align-right">
				<span class="section-header">	
					<%= text_field_tag :query, params[:query], :placeholder => "Enter name or type", :class => "span3 form-control" %>
				</span>

				<%= button_tag(type: 'submit', class: "btn btn-primary", id: 'search') do %>
					<i class="fa fa-search">&nbsp;Search</i>
				<% end %>
			</div>
			<div class="clear"></div>

		<% end %>

	<div>

	<br>

	<table class="table table-striped">
		<tr>
			<th>id</th>
			<th>Status</th>
			<th>Name</th>
			<th>Type</th>
			<th>E-mail</th>
			<th>Invitation count</th>
			<th>Updated Date</th>
			<th></th>
		</tr>

		<% @users.each do |f| %>
			<tr>
				<td><%= f.id %></td>
				<td>
					<% if f.locked %>
						<span class="label label-warning">Locked</span>
					<% end %>
				</td>
				<td><%= f.full_name %></td>
				<td><%= f.type %></td>
				<td><%= f.email %></td>
				<td><%= f.invitation_limit %></td>
				<td><%= f.updated_at.strftime('%b. %e, %Y') %></td>
				<td><%= link_to "Profile", admins_user_path(:id => f.id), :class => "btn btn-info" %> </td>
			</tr>
		<% end %>	
	</table>
</div>
<br>
</div>