<h3>View Users</h3>

<div>
	<table class="table table-striped">
		<tr>
			<th>id</th>
			<th>Status</th>
			<th>Name</th>
			<th>Type</th>
			<th>E-mail</th>
			<th>Updated Date</th>
			<th></th>
		</tr>

		<% @users.each do |f| %>
			<tr>
				<td><%= f.id %></td>
				<td>
					<% if f.locked %>
						<span class="label label-warning">Locked</span>
					<% end %>
				</td>
				<td><%= f.full_name %></td>
				<td><%= f.type %></td>
				<td><%= f.email %></td>
				<td><%= f.updated_at.strftime('%b. %e, %Y') %></td>
				<td><%= link_to "Profile", admins_user_path(:id => f.id), :class => "btn btn-info" %> </td>
			</tr>
		<% end %>	
	</table>
</div>
<br>
