<%= render "admins/shared/head" %>

<div class="account">
	<%= render "admins/shared/nav" %>
<h3 class="header">
	<%= @user.full_name%>
	<% if @user.is_alum? %>
		<span class="label label-primary">Alum</span>	
	<% else %>
		<span class="label label-info">Friend</span>	
	<% end %>
</h3>



<br>
<%= image_tag @user.avatar.url(:medium), :class=>"box_radius" %>
<br><br>

<% if @user.locked == true %>
	<span class="section-header"><i class="fa fa-lock"></i>&nbsp;Locked</span>
<% end %><br><br>

<span class="section-header">Email:&nbsp;</span>
<%= @user.email %><br><br>

<% if @user.phone!=nil and !@user.phone.empty? %>
	<span class="section-header">Phone:&nbsp;</span>
	<%= @user.phone %><br><br>
<% end %>

<% if @user.is_alum? %>
	<span class="section-header"><i class="fa fa-briefcase"></i></span>&nbsp;&nbsp;
	class of <%= @user.classyear %><br><br>
<% end %>

	<span class="section-header">Invitation limit:</span>&nbsp;
	<%= @user.invitation_limit %><br><br>

<!-- TODO: Allow access to uploads? -->
<% if false %>
	<% if @uploads.length != 0 %>
		<span class="section-header"><i class="fa fa-book"></i>&nbsp;Resume</span><br>
		<% @uploads.each do |u| %>
			<div>
				<span class="indent"/>
				<i class="fa fa-check"></i>&nbsp;<%= u.avatar_file_name%> &nbsp;

				<%= link_to user_attachment_download_path(:user_id=>@user.id, :id => u.id, :type => "display"), :class =>"btn btn-success", :target =>"_blank" do %>
					<i class="fa fa-desktop"></i>&nbsp;View
				<% end %>
				<%= link_to user_attachment_download_path(:user_id=>@user.id, :id => u.id, :type => "download"), :class =>"btn btn-primary", :target =>"_blank" do %>
					<i class="fa fa-download"></i>&nbsp;Download
				<% end %>

			</div>
			<br>
		<% end %>
	<% end %>
<% end %>
<br>

<span class="section-header"><i class="fa fa-edit"></i></span>&nbsp;&nbsp;
last updated at:  <%= @user.updated_at.strftime('%b. %e, %Y') %><br><br>



<br><br>
<div class="pull-right">
	<%= link_to "Back to List", admins_users_path, :class => "btn btn-primary" %>
	<%= link_to "Delete", admins_user_path(@user), :method => 'delete', :class => "btn btn-warning", :confirm => "Are you sure?" %>
	<%= link_to "Edit Account", edit_admins_user_path(@user), :class => "btn btn-primary" %>
</div>
<br><br>
</div>