<%= render "admins/shared/head" %>

<div class="container">

	<% if admin_signed_in? %>
		<%= render "admins/shared/nav" %>
	<% end %>
	
	<h2 class="header">Announcements</h2>
	<hr class="style-one"></hr>
	<br>

	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Created at</th>
			<th></th>
		</tr>

		<% @posts.each do |f| %>
			<tr>
				<td><%= f.title %></td>
				<td><%= f.created_at.strftime('%b. %e, %Y (%a)') %></td>
				<td><%= link_to "View", admins_post_path(f), :class => "btn btn-success" %></td>
			</tr>
		<% end %>	
	</table>
</div>