<%= render "admins/shared/head" %>

<div class="container">
	<div>
		<h3 class="neatfont" style="display: inline;"><%= @post.title %></h3>		
		&nbsp;&nbsp;on <%= @post.created_at.strftime('%b. %e, %Y') %>
		<hr class="style-one"></hr>
	</div>
	<span class="indent" /><%= @post.content.html_safe %>
	<br>
	<div class="align-right">
		<% if current_user.is_admin? %>
			<%= link_to "Edit",edit_admins_post_path(@post),:class => "btn btn-primary" %>&nbsp;
		<% end %>
		<%= link_to "Back to list",admins_posts_path,:class => "btn btn-primary" %>
	</div>
	<div class="clear"></div>
</div>