<h1 class="text-align-center">Welcome to Gann Alumni Network</h1>

<br>

<h3 class="text-align-center italics">Connect with other Alumni</h3>

<br>

<div class="row">
  <div class="span4 offset1">
    <img src = <%= image_path("gann.jpg") %> class="box_radius" alt="gann"/>
  </div>

  <%= devise_error_messages! %>

  <div class="span3 offset2">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><i class="icon-envelope"></i>&nbsp;<%= f.label :email, :class => "section-header" %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div><i class="icon-key"></i>&nbsp;<%= f.label :password, :class => "section-header" %>
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me, :class=>"custom-form" %> <%= f.label :remember_me, :class=>"custom-form" %>
        </div>
      <% end -%>

      <br>
      	<div>
      		<%= f.submit "Sign in", :class =>"btn btn-info" %> 
      		<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      			<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    		<% end -%>
    	</div>
    <% end %>

    <strong>Here for the first time?</strong>



    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Register", new_alum_registration_path %>
    <% end -%>

    <br><br>

    <strong>Having trouble? Contact us</strong><br>
    <i class="icon-phone"></i>&nbsp; 617-123-4567 (Office of Alumni)<br>
    <i class="icon-envelope"></i>&nbsp; admin@gannacademy.org

  </div>
</div>