<%= form_for @opportunity, :html => { :multipart => true } do |f| %>

    <div><%= f.label "Logo", :class => "section-header" %><br>
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 250px; height: 250px;"></div>
        <div>
          <span class="btn btn-default btn-file">
            <span class="fileinput-new">Select image</span>
            <span class="fileinput-exists">Change</span>
            <%= f.file_field :upload %>
          </span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </div>
      </div>
    </div>

  
  	<div><%= f.label "Title", :class => "section-header" %><br>
  	<%= f.text_field :title %></div>
    
    <br>
  	
    <div><%= f.label "Company", :class => "section-header" %><br>
  	<%= f.text_field :company %></div>
    
    <br>
 	  
    <div><%= f.label "Type", :class => "section-header" %><br>
  	<%= f.collection_select :job_type, Type.all, :name, :name, prompt: true %></div>

    <br>

  	<div><%= f.label "Job Description", :class => "section-header" %><br>
  	<%= f.text_area :description, :class => "span6", :rows => "6", :placeholder => "Enter Job Description here" %></div>
    
    <br>

    <div><%= f.label "Files", :class => "section-header" %>
      &nbsp;<a id="opportunity_files_help" class="help"><i  class="icon icon-question-sign"></i></a><br>
      <div class="btn btn-primary">
            <%= link_to_add_association 'Add Uploads', f, :uploads %>
      </div>

      <br><br>
      
      <div id="uploads">  
        <%= f.fields_for :uploads do |upload| %>
          
          <% if !(@name=upload.object.avatar_file_name) %>
            <%= render 'upload_fields', :f => upload %>
          <% else %>
            <%= render 'edit_fields', :f => upload %>
          <% end %>
          
          <br>  
        <% end %>
        
      </div>
    </div>

  <br><br>

    <div><%= f.label "Skills", :class => "section-header" %><br>
    <% counter = 0 %> 
    <table>
      <% @skills.each do |s|%>
        <% if counter % 3 == 0%>
          <tr>
        <% end %>
       
        <td><%= check_box_tag 'skills[]', s.id %><%= s.skill %></td>
          
        <!-- Line break-->
        <% if ((counter +=1) % 3) == 0 %>
          </tr>
        <% end %>

      <% end %>
    </table>
    </div>

    <br>
	 <div><%= f.label "Location", :class => "section-header" %></div>

   <br>
  
  <%= f.text_field :location, :class => "controls", :id =>"pac-input", :placeholder => "Enter a Location" %>
  <!-- <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location"> -->
    <div id="type-selector" class="controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <!-- <label for="changetype-all">All</label> -->
<!-- 
      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label> -->
    </div>

    <div class="gmap">
      <div id="map-canvas-new"></div>
  	</div>
    <br>
    <div><%= f.label "time", :class => "section-header" %>
      &nbsp;<a id="opportunity_time_help" class="help"><i  class="icon icon-question-sign"></i></a><br>
    <%= radio_button_tag(:time_type, "flexible") %>Flexible<br>
    <%= radio_button_tag(:time_type,"range") %>Range<br></div>  
  
    <br>
    
  	<div><%= text_field_tag 'time[]', nil, disabled: true, id: "opportunity_fromtime" %></div>
    <div><%= text_field_tag 'time[]', nil, :id => "opportunity_totime", :disabled => true %></div>  	

  	
	<%= f.submit "Post opportunity", :class => "btn btn-primary" %>
<% end %>


