<% content_for :head do %>
	<title>Edit Opportunity</title>
	<%= javascript_include_tag "opportunities/form" %>
<% end %>

<div class="container">
	<h2>Edit Opportunity</h2>

	<br>

	<%= form_for @opportunity, :html => { :multipart => true } do |f| %>
		
		<div><span class="section-header">Status</span><br>
			<span class="indent"/>
			<%= f.radio_button :active, true %>&nbsp;Active &nbsp;
			<%= f.radio_button :active, false %>&nbsp;Inactive
		</div>

		<br>

		<%= render "form", :f => f %>
		
		<%= f.submit "Edit", :class => "btn btn-primary" %>
	<% end %>
</div>
