<% content_for :head do %>
	<title>Edit Opportunity</title>
	<%= javascript_include_tag "opportunities/form" %>
<% end %>

<div class="container">
	<h2>Edit Opportunity</h2>
	<hr class="style-one"></hr>

	<%= form_for @opportunity, :html => { :multipart => true } do |f| %>

		<% if @opportunity.errors.any? %>
	        <div class="error_messages">
	          <h4>Some errors were found.</h4>
	          <ul>
	            <% @opportunity.errors.full_messages.each do |msg| %>
	              <li><%= msg %></li>
	            <% end %>
	          </ul>
	        </div>
	     <% end %>

		
		<div><span class="section-header">Status</span><br>
			<span class="indent"/>
			<%= f.radio_button :active, true %>&nbsp;Active &nbsp;
			<%= f.radio_button :active, false %>&nbsp;Inactive
		</div>

		<br>

		<%= render "form", :f => f %>

		<br>

		<div class="align-right">
			<%= f.submit "Edit", :class => "btn btn-primary" %>
		</div>
	<% end %>
</div>
