<% content_for :head do %>
	<title>Edit Opportunity</title>
	<%= javascript_include_tag "opportunities/form" %>
<% end %>

<% content_for :title, "Edit Opportunity" %>

<div class="container">
	<h2>Edit Opportunity <small>( ID: <%=@opportunity.id %> )</small></h2>
	<hr class="style-one"></hr>

	<%= form_for @opportunity, :html => { :multipart => true } do |f| %>

		<% if @opportunity.errors.any? %>
	        <div class="error_messages">
	          <h4>Some errors were found.</h4>
	          <ul>
	            <% @opportunity.errors.full_messages.each do |msg| %>
	              <li><%= msg %></li>
	            <% end %>
	          </ul>
	        </div>
	     <% end %>

	    <span class="required">*</span>&nbsp;These fields are required<br><br>
		
		<div><span class="section-header">Status</span><br>
			<span>Mark the opportunity as Active to display it. Mark the opportunity as Inactive to maintain it in the database but not display it.</span><br>
			<span>If you want to delete the opportunity, please contact administrator, indicating the id of the opportunity.</span>
			<br><br>
			<span class="indent"/>
			<%= f.radio_button :active, true %>&nbsp;Active &nbsp;
			<%= f.radio_button :active, false %>&nbsp;Inactive
		</div>

		<br>

		<%= render "form", :f => f %>

		<br>

		<div class="align-right">
			<%= f.submit "Save", :class => "btn btn-primary" %>
		</div>
	<% end %>
</div>
