<div class="header"><h2>Welcome to GAN</h2></div>

<br>

<h3><i class="fa fa-comment"></i>&nbsp;Announcement</h3>
	<h4><span class="indent"/><%= @post.title %></h4>
	<span class="indent italics">by <%= @post.admin.full_name %></span><br><br>
	<span class="indent" /><span class="indent" /><%= @post.content %>

	<br><br><br>

<h3><i class="fa fa-archive"></i>&nbsp;Opportunities</h3>
<%= form_tag opportunities_path, method: :get do %>
	<p>
		<span class="section-header">
			<i class="fa fa-pencil"></i>&nbsp;<%= text_field_tag :query, params[:query], :placeholder => "Enter Keyword" %>&nbsp;	
			<i class="fa fa-user"></i>&nbsp;<%= text_field_tag :provider, params[:provider], :placeholder => "Enter Provider" %> 
		</span>

		<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
			<i class="fa fa-search">&nbsp;Search</i>
		<% end %>

		<span class="pull-right">
			<%= link_to new_opportunity_path, :class => "btn btn-success" do %>
				<i class="fa fa-pencil"></i>&nbsp;Post
			<% end %>
		</span>
	</p>

<% end %>

<div>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Company</th>
			<th>Type</th>
			<th>Location</th>
			<th>Offered Date</th>
			<th>Offered by</th>
			<th></th>
		</tr>

		<% @opportunities.each do |f| %>
			<tr>
				<td><%= f.title %></td>
				<td><%= f.company %></td>
				<td><%= f.job_type %></td>
				<td><%= f.location %></td>
				<td><%= f.created_at.strftime('%b. %e, %Y') %></td>
				<td><%= f.user.full_name %></td>
				<% if can_apply?(f) %>
					<td><%= link_to "View & Connect", opportunity_path(f), :class => "btn btn-info" %></td>
				<% else %>
					<td><%= link_to "View", opportunity_path(f), :class => "btn btn-success" %></td>
				<% end %>
			</tr>
		<% end %>	
	</table>
</div>
<br>

<div class="pull-right">
	<%= paginate @opportunities, :theme => 'twitter-bootstrap', :window => 2 %>
</div>







