<h3>Opportunities</h3><br>

<%= form_tag opportunities_path, method: :get do %>
	<p>
		<%= text_field_tag :query, params[:query], :placeholder => "Enter Keyword" %>
		<%= submit_tag "Search", :class => "btn btn-primary" %>
	</p>
<% end %>


<div>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Company</th>
			<th>Type</th>
			<th>Location</th>
			<th>Offered Date</th>
			<th>Offered by</th>
			<th></th>
		</tr>

		<% @opportunities.each do |f| %>
			<tr>
				<td><%= f.title %></td>
				<td><%= f.company %></td>
				<td><%= f.job_type %></td>
				<td><%= f.location %></td>
				<td><%= f.created_at.strftime('%b. %e, %Y') %></td>
				<td><%= f.user.full_name %></td>
				<% if can_apply?(f) %>
					<td><%= link_to "View & Connect", opportunity_path(f), :class => "btn btn-info" %></td>
				<% else %>
					<td><%= link_to "View", opportunity_path(f), :class => "btn btn-success" %></td>
				<% end %>
			</tr>
		<% end %>	
	</table>
</div>
<br>
<div class="pull-right">
	<%= link_to "Post Opportunity", new_opportunity_path, :class => "btn btn-info" %>
</div>


