<% content_for :head do %>
	<title>GAN Opportunities</title>
	<%= javascript_include_tag "opportunities/index" %>
	<%= javascript_include_tag "jquery.jumpto" %>
<% end %>


<% if friend_signed_in? %>
	<div>


		<div class="align-left well" style="padding-top:12px; padding-bottom: 8px; margin-bottom: 15px;">
				<span class="italics">Want to invite others to the platform?</span><br>
				<% if current_user.has_invitations_left? %>
					<div class="pull-right" style="margin-top: 10px;">
						<%= link_to "Invite", new_user_invitation_path, :class => "btn btn-success" %>
					</div>
				<% else %>
					<span>You do not have any invitations remaining. Please contact the administrator</span>
				<% end %>
				
		</div>

		<div class="align-right well" style="padding-top:12px; padding-bottom: 8px; margin-left: 20px; margin-bottom: 15px;">
				<span class="italics">Have a new opportunity that you want to offer?</span><br>
				<div class="pull-right" style="margin-top: 10px;">
					<%= link_to new_opportunity_path, :class => "btn btn-success" do %>
						<i class="fa fa-pencil"></i>&nbsp;Create
					<% end %>
				</div>
		</div>
		<div class="clear"></div>

	</div>
<% end %>

<div class="container box_shadow box_padding">
	<!-- <div class="header"> -->
		<h2 class="brownfont neatfont" style="display: inline; margin-top:100px;">
			&nbsp;Announcement</h2>
		<div class="align-right well" style="padding-top:12px; padding-bottom: 8px; margin-bottom: 15px;">
			<span class="italics">Have a new opportunity that you want to offer?</span><br>
			<div class="pull-right" style="margin-top: 10px;">
				<%= link_to new_opportunity_path, :class => "btn btn-success" do %>
					<i class="fa fa-pencil"></i>&nbsp;Create
				<% end %>
			</div>
		</div>
		<div class="clear"></div>
	<!-- </div> -->
	
	
	<hr class="style-one" style="margin: 6px 0px;"></hr>
	<div style="padding-left: 20px; padding-right: 20px;">
		<div>
			<h3 class="neatfont" style="display: inline;"><%= @post.title %></h3>		
			<span class="indent italics"> on <%= @post.created_at.strftime('%b. %e, %Y') %>
		</div>
		<div class="announcement-container">
			<span class="indent" /><%= @post.content.html_safe %>
		</div>
	</div>
	<hr class="style-one" style="margin: 10px 0px;"></hr>
	<div class="align-right">
		<%= link_to "View posts", admins_posts_path, :class => "btn btn-primary" %>
	</div>
	<div class="clear"></div>
</div>


		<br>

<% if !friend_signed_in? %>
<div class="container box_shadow box_padding align-left">
	<h2 class="brownfont neatfont">&nbsp;Opportunities</h2>


	<%= form_tag opportunities_path, method: :get, :class => "form-inline" do %>
		<div class="align-right">
			<%= select_tag "job_type", options_from_collection_for_select(Jobtype.all, :name, :name, params[:job_type]), :class=>"select_box",:prompt => "Select type" %>

			<%= select_tag "edu_level", options_from_collection_for_select(EduLevel.all, :education, :education, params[:edu_level]),:prompt => "Select education level" %>
			
			<br>

			<span class="section-header" style="margin-top: 10px;">		

					<%= text_field_tag :query, params[:query], :placeholder => "Enter keyword, company, location, or provider", :class => "span5 form-control" %>
			</span>

			<%= button_tag(type: 'submit', class: "btn btn-primary", id: 'search') do %>
				<i class="fa fa-search">&nbsp;Search</i>
			<% end %>
		</div>
		<div class="clear"></div>

	<% end %>


	<% if @opportunities.empty? %>
		<div style="text-align: center;">
			<br>
			<h4>No results found!</h4>
		</div>
	<% else %>
		<div id='opportunities'>
			<div class='pull-right'>
			<span  style="font-size: 17px;">Displaying <strong style="font-size: 22px;"><span id="numOfOpportunities"></span></strong> most recent opportunities</span>
			</div>
			<div class="clear"></div>
			<br>
			<%= render 'opportunities/opportunities' %>
		</div>
	
		<% if @opportunities.size >= @itemsPerPage %>
		<div id="more" class="more neatfont" data-toggle="tooltip" data-placement="bottom" title="Load next recent opportunities">Load more</div>
			<div style="display: none;">
				<%= paginate @opportunities %>
			</div>
		<% end %>
	<% end %>
	<br>
</div>
<% end %>

<div class="clear"></div>