<h2>Search Opportunities</h2>

<%= form_tag opportunities_path, method: :get do %>
	<p>
		<%= text_field_tag :query, params[:query] %>
		<%= submit_tag "Search", name:nil %>
	</p>
<% end %>

<%= link_to "Create", new_opportunity_path, :class => "btn pull-right" %><br><br>	
<%= link_to "View All", opportunities_path, :class => "btn btn-primary pull-right" %>
