<h2>Search Opportunities</h2>

<%= form_tag opportunities_path, method: :get do %>
	<p>
		<%= text_field_tag :query, params[:query] %>
		<%= submit_tag "Search", name:nil, :class =>"btn btn-info" %>
	</p>
<% end %>

<br><br>

<div class="pull-right">
	Want to create a new opportunity?
	<%= link_to "Create", new_opportunity_path, :class => "btn " %><br><br>	
</div>
<br><br><br>
<div class="pull-right">
	Want to view all the opportunities?
	<%= link_to "View All", opportunities_path, :class => "btn btn-primary" %>
</div>
