<div class="container">

	<div class="pull-right">
		<%= link_to new_opportunity_path, :class => "btn btn-success" do %>
			<i class="fa fa-pencil"></i>&nbsp;Create
		<% end %>
	</div>

	<br><br>

	<ul class="nav nav-tabs">
		<li><a href="#favorites" data-toggle="tab">Favorite</a></li>
		<li><a href="#applied" data-toggle="tab">Applied</a></li>
		<li><a href="#created" data-toggle="tab">Created</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade" id="applied">
			<h4>Applied Opportunities</h4>
			
			<%= render :partial => "table_index", :locals => {:opportunities => @applied_opportunities} %>
			
		</div>

		<div class="tab-pane fade" id="created">
			<h4>Created Opportunities</h4>
			<%= render :partial => "table_index", :locals => {:opportunities => @created_opportunities} %>
		</div>

		<div class="tab-pane fade in active" id="favorites">
			<h4>Favorite Opportunities</h4>
			<%= render :partial => "table_index", :locals => {:opportunities => @favorites} %>
		</div>
	</div>

	<br>

	<div class="pull-right">
		<%= paginate @created_opportunities, :theme => 'twitter-bootstrap', :window => 2 %>
	</div>
</div>