<% content_for :head do %>
	<title>New Opportunities</title>
	<%= javascript_include_tag "opportunities/form" %>
<% end %>

<div class="container">
	<h2 class="header">New Opportunity</h2>

	<br>

	<%= form_for @opportunity,:validate => true, :html => { :multipart => true, :id => "new_opportunity_form" } do |f| %>
		
		<%= f.hidden_field :active, :value => true %>

		<%= render "form", :f => f %>
		
		<%= f.submit "Post opportunity", :class => "btn btn-primary" %>
	<% end %>
</div>