<p class="section-header">Title</p>
<div><%= @opportunity.title %></div><br>
<p class="section-header">Company</p>
<div><%= @opportunity.company %></div><br>
<p class="section-header">Type</p>
<div><%= @opportunity.job_type %></div><br>

<p class="section-header">Skills & Expertise</p>
<% @skills.each do |skill| %>
	<div><i class="icon-ok"></i>&nbsp;<%= skill.skill %></div>
<% end %>

<br>

<p class="section-header">Location</p>
<div><%= @opportunity.location %></div><br>
<p class="section-header">Description</p>
<div><%= @opportunity.description %></div><br>

<% owner = @opportunity.user %>

<br><br>
<p class="section-header">This opportunity was offered by</p>

<p><i class="icon-user"></i>&nbsp;<%= owner.full_name %></p>

<% if alum_signed_in? %>
	<p><i class="icon-briefcase"></i>&nbsp;Class of <%= owner.classyear%></p>
<% end %>

<br>

<% if can_apply?(@opportunity) %>
	<%= link_to "Connect", new_opportunity_application_path(@opportunity), :class =>"btn btn-info" %>
<% end %>

<%= link_to "Back", opportunities_path, :class =>"btn btn-info" %>

<% if current_user.is_owner?(@opportunity) %>
	<%= link_to "Edit", edit_opportunity_path(@opportunity), :class =>"btn btn-info" %>
<% end %>