<% content_for :head do %>
	<title>GAN Opportunities</title>
	<%= javascript_include_tag "opportunities/show" %>
<% end %>

<% content_for :title, "Opportunity" %>

<br>
<div class="container">
	<div class="align-left">
		<%= image_tag @opportunity.upload.url(:medium), :class=>"box_radius", :style => "width: 150px;" %>
	</div>
	<div class="align-left indent">
		<h3>
			<%= @opportunity.title %> 
			<br>
			<small> <%= @opportunity.company %></small>
			

			<% if !@opportunity.is_active? %>
				<span class="label label-warning">Inactive</span>
			<% end %>

		</h3>


		<h2><small><span class="italics"><%= @opportunity.job_type %> / <%= @opportunity.edu_level %></span> </small></h2>
	
		<% if can_apply?(@opportunity) %>
			<div>
				<%= link_to new_opportunity_application_path(@opportunity), :class =>"btn btn-primary" do %>
					<i class="fa fa-mail-forward"></i>&nbsp;Click here to connect
				<% end %>
			</div>
		<% end %>
	</div>

	

	<% if current_user.is_owner?(@opportunity) || current_user.is_admin? %>
		<div class="align-right">
			<%= link_to edit_opportunity_path(@opportunity), :class =>"btn btn-success" do %>
				<i class="fa fa-edit"></i>&nbsp;Edit
			<% end %>
		</div>
		<div class="clear"></div>
	<% else %>
		<div class="align-right">
			<% if @opportunity.is_favorite?(current_user.id) %>
				<button class="remove_favorite_btn btn btn-success btn-labeled" id="<%= @opportunity.id %>">
					<span class="btn-label"><i class="fa fa-check"></i></span>
						Saved
				</button>
			<% else %>
				<button class="add_favorite_btn btn btn-primary btn-labeled" id="<%= @opportunity.id %>">
					<span class="btn-label"><i class="fa fa-plus"></i></span>
						Save
				</button>
			<% end %>

		</div>
		<div class="clear"></div>
	<% end %>

</div>

<br>

	<div class="align-left">

	<div class="left_container">
		<p class="section-header"><i class="fa fa-tasks"></i>&nbsp;&nbsp;Description</p>
		<div><span class="indent"/><%= @opportunity.description.html_safe %></div>

		<br><br>

		<% if @uploads.length != 0 %>
			<h5>For more details, please refer to the attached files</h5> 
			<div class="align-right">
			<% @uploads.each do |u| %>
				<div>
					<i class="fa fa-check"></i>
					&nbsp;<span class="file_display"><%= u.avatar_file_name %></span>

					&nbsp;
					
					<%= link_to download_path(:id=>@opportunity.id, :upload_id => u.id, :type => "display"), :class =>"btn btn-success", :target =>"_blank" do %>
						<i class="fa fa-desktop"></i>&nbsp;View
					<% end %>
					<%= link_to download_path(:id=>@opportunity.id, :upload_id => u.id, :type => "download"), :class =>"btn btn-primary", :target =>"_blank" do %>
						<i class="fa fa-download"></i>&nbsp;Download
					<% end %>
				</div>
				<br>
			<% end %>
			</div>
			<div class="clear"></div>
		<% end %>

		<br>

	</div>

	<br>
	
	<div class="left_container">

		<p class="section-header"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Dates</p>
		<% if @time.first.is_flexible? %>
			<div><span class="indent"/><strong>Flexible</strong></div><br>
		<% else %>
			<% if !@time.first.date.empty? %>
				<span><span class="indent"/><strong>From</strong>&nbsp;<%= @time.first.date.to_time.strftime('%b. %e, %Y (%a)') %></span>&nbsp;
			<% end %>

			<% if !@time.second.date.empty? %>
				<span><span class="indent"/><strong>To</strong>&nbsp;<%= @time.second.date.to_time.strftime('%b. %e, %Y (%a)') %></span><br>&nbsp;
			<% end %>
		<% end %>

		<br>

		<p class="section-header"><i class="fa fa-book"></i>&nbsp;&nbsp;Skills & Expertise</p><br>

		<% @skills.each do |skill| %>
			<div><span class="indent"/><i class="fa fa-check"></i>&nbsp;<%= skill.skill %></div>
		<% end %>

		<br><br>
		
		

		<p class="section-header"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;Location</p>
		<div>
			<span class="indent"/>
			<%= @opportunity.location %>&nbsp;
			<a href=<%= google_map_query(@opportunity.location) %> target="_blank"><i class="fa fa-location-arrow"></i>&nbsp;map link</a>
		</div>

		<br>

		<div class="gmap" data-lat=<%= @opportunity.latitude %> data-long=<%= @opportunity.longitude %> >
			<div id="map-canvas-show"></div>
		</div>

		<br>


		<br><br>
		
	</div>

	</div>

	<div class="highonly">
		<div class="right_container align-left">
			<% owner = @opportunity.user %>

				<p>
					<div class="section-header">Provider</div>
				</p>
				<br>
				<div>
					<div style="text-align: center;">
						<%= image_tag owner.avatar.url(:thumb), :class=>"box_radius", :style => "display: inline-block;" %>
					</div>
					<br>
					<h4 class=" text-align-center"><%= owner.full_name %></h4>
					<div class="text-align-center">
						<% if owner.is_alum? %>
							<h5>Class of <%= owner.classyear %></h5>
						<% end %>
					</div>
				</div>


		</div>
	</div>

	<div class="clear"></div>

	<div class="medium">

	<br><br>
		<div class="container">
			<% owner = @opportunity.user %>
			
			<div class="section-header">
				Opportunity provider
			</div>
			<br><br>
			<div>
				<div class="align-left">
					<%= image_tag owner.avatar.url(:thumb), :class=>"box_radius", :style => "display: inline-block;" %>
				</div>

				<div class="align-left indent">
					<h4 class=" text-align-center"><%= owner.full_name %></h4>
					<% if owner.is_alum? %>
							<h5>Class of <%= owner.classyear %></h5>
						<% end %>
				</div>
				<div class="clear"></div>
			</div>
				
				
<% if false %>
<br><br>
				<% if @sponsors.length != 0 %>
					<p class="section-header"><i class="fa fa-group"></i>&nbsp;Sponsors</p><br>
					<% @sponsors.each do |sponsor| %>
						<span class="indent"/><i class="fa fa-check"></i>&nbsp;<strong><%= sponsor.name %></strong><br>
						<span class="indent"/><%= sponsor.position %> @ <%= sponsor.company %><br>
					<% end %>
				<% end %>
<% end %>

		</div>
	</div>
<br>


