<% content_for :head do %>
	<title>GAN Opportunities</title>
	<%= javascript_include_tag "opportunities/show" %>
<% end %>

<br>
<div class="container">
	<div class="align-left">
		<%= image_tag @opportunity.upload.url(:medium), :class=>"box_radius" %>
	</div>
	<div class="align-left indent">
	<h1>
		<%= @opportunity.title %> 
		<br>
		<small> <%= @opportunity.company %></small>
		
		<% if false %>
		<% if can_apply? (@opportunity) %>
			<span class="label label-warning">Not Connected</span>	
		<% elsif current_user.is_owner? (@opportunity) %>
			<span class="label label-info">Owner</span>	
		<% else %>
			<span class="label label-success">Connected</span>
		<% end %>
		<% end %>

		<% if !@opportunity.is_active? %>
			<span class="label label-warning">Inactive</span>
		<% end %>

	</h1>


	<h2><small><span class="italics"><%= @opportunity.job_type %></span></small></h2>
	</div>

	<% if can_apply?(@opportunity) %>
		<div class="align-right">
			<%= link_to new_opportunity_application_path(@opportunity), :class =>"btn btn-info" do %>
				<i class="fa fa-mail-forward"></i>&nbsp;Connect
			<% end %>
		</div>
		<div class="clear"></div>
	<% end %>

	<% if current_user.is_owner?(@opportunity) || current_user.is_admin? %>
		<div class="align-right">
			<%= link_to edit_opportunity_path(@opportunity), :class =>"btn btn-success" do %>
				<i class="fa fa-edit"></i>&nbsp;Edit
			<% end %>
		</div>
		<div class="clear"></div>
	<% else %>
		<div class="align-right">
			<% if @opportunity.is_favorite?(current_user.id) %>
				<button class="remove_favorite_btn btn btn-success btn-labeled" id="<%= @opportunity.id %>">
					<span class="btn-label"><i class="fa fa-check"></i></span>
						Saved
				</button>
			<% else %>
				<button class="add_favorite_btn btn btn-primary btn-labeled" id="<%= @opportunity.id %>">
					<span class="btn-label"><i class="fa fa-plus"></i></span>
						Save
				</button>
			<% end %>

		</div>
		<div class="clear"></div>
	<% end %>

</div>

<br>

	<div class="align-left">

	<div class="opportunities_index_left_container">
		<p class="section-header"><i class="fa fa-tasks"></i>&nbsp;Description</p>
		<div><span class="indent"/><%= @opportunity.description.html_safe %></div>

		<br><br>

		<% if @uploads.length != 0 %>
			<h5>For more details, please refer to the attached files</h5> 
			<div class="align-right">
			<% @uploads.each do |u| %>
				<div>
					<i class="fa fa-check"></i>
					&nbsp;<span class="file_display"><%= u.avatar_file_name %></span>

					&nbsp;
					
					<%= link_to download_path(:id=>@opportunity.id, :upload_id => u.id, :type => "display"), :class =>"btn btn-success", :target =>"_blank" do %>
						<i class="fa fa-desktop"></i>&nbsp;View
					<% end %>
					<%= link_to download_path(:id=>@opportunity.id, :upload_id => u.id, :type => "download"), :class =>"btn btn-primary", :target =>"_blank" do %>
						<i class="fa fa-download"></i>&nbsp;Download
					<% end %>
				</div>
				<br>
			<% end %>
			</div>
			<div class="clear"></div>
		<% end %>

		<br>

	</div>

	<br>
	
	<div class="opportunities_index_left_container">

		<p class="section-header"><i class="fa fa-calendar"></i>&nbsp;Dates</p>
		<% if @time.first.is_flexible? %>
			<div><span class="indent"/><strong>Flexible</strong></div><br>
		<% else %>
			<span><span class="indent"/><strong>From</strong>&nbsp;<%= @time.first.date.to_time.strftime('%b. %e, %Y (%a)') %></span>
			&nbsp;
			<span><span class="indent"/><strong>To</strong>&nbsp;<%= @time.second.date.to_time.strftime('%b. %e, %Y (%a)') %></span><br>
		<% end %>

		<br>

		<p class="section-header"><i class="fa fa-book"></i>&nbsp;Skills & Expertise</p><br>
		<span class="italics">Under Construction</span>
<% if false %>
		<% @skills.each do |skill| %>
			<div><span class="indent"/><i class="fa fa-check"></i>&nbsp;<%= skill.skill %></div>
		<% end %>
<% end %>
		<br><br>
		
		

		<p class="section-header"><i class="fa fa-location-arrow"></i>&nbsp;Location</p>
		<div>
			<span class="indent"/>
			<%= @opportunity.location %>&nbsp;
			<a href=<%= google_map_query(@opportunity.location) %> target="_blank"><i class="fa fa-location-arrow"></i>&nbsp;map link</a>
		</div>

		<br>

		<div class="gmap" data-lat=<%= @opportunity.latitude %> data-long=<%= @opportunity.longitude %> >
			<div id="map-canvas-show"></div>
		</div>

		<br>


		<br><br>
		
	</div>

	</div>

	<div class="opportunities_index_right_container align-left">
		<% owner = @opportunity.user %>

			<p>
				<h4 class=" text-align-center"><span class="italics navyfont">Opportunity poster</span></h4>
				<h4 class=" text-align-center"><%= owner.full_name %></h4>
			</p>
			<br>
			<div>
				<div style="text-align: center;">
					<%= image_tag owner.avatar.url(:thumb), :class=>"box_radius", :style => "display: inline-block;" %>
				</div>
				<div class="text-align-center">
					<% if owner.is_alum? %>
						<h5>Class of <%= owner.classyear %></h5>
					<% end %>
				</div>
			</div>
			
			<br><br>

			<% if @sponsors.length != 0 %>
				<p class="section-header"><i class="fa fa-group"></i>&nbsp;Sponsors</p><br>
				<% @sponsors.each do |sponsor| %>
					<span class="indent"/><i class="fa fa-check"></i>&nbsp;<strong><%= sponsor.name %></strong><br>
					<span class="indent"/><%= sponsor.position %> @ <%= sponsor.company %><br>
				<% end %>
			<% end %>

	</div>

	<div class="clear"></div>
<br>


