<% content_for :head do %>
  <title>GAN Opportunities</title>
  <%= javascript_include_tag "users/registration" %>
<% end %>

<% content_for :title, "Registration" %>

<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="whitefont">
            <a href=<%= home_path %> class="brand">
              Gann Alumni Network
            </a>
            <!-- <div class="nav-collapse"> -->
              <ul class="nav">
                <li><a href='<%= about_path %>' class="whitefont neatfont">About</a></li>
                <li><a href="<%= new_contact_path %>" class="whitefont neatfont">Contact</a></li>
              </ul>
          </div>
        </div>
      </div>


<div class="container">
  <h3 class="text-align-center">Register as Friend for Gann Alumni Networks</h3>
  <hr class="style-one"></hr>
  <br>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, :id => "confirmation_form" } do |f| %>
  
  <% if resource.errors.any? %>
        <div class="error_messages">
          <h4>Some errors were found.</h4>
          <ul>
            <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
  <% end %>
  
  <span class="required">*</span>&nbsp;These fields are required<br><br>  

  <%= f.hidden_field :invitation_token %>
  <%= f.hidden_field :type, :value => "Friend" %>

  <br>

  <div class="align-left">
    <%= f.label "First Name", :class => "field-header" %><span class="required">*</span><br>
    <%= f.text_field :fname %>
  </div>

  <div class="align-left" style="margin-left: 15px;">
    <%= f.label "Last Name", :class => "field-header" %><span class="required">*</span><br>
    <%= f.text_field :lname %>
  </div>

  <div class="clear"></div>

  <div class="align-left">
    <%= f.label :Title, :class => "field-header" %><br>
    <%= f.text_field :title %></div> 

  <div class="align-left" style="margin-left: 15px;">
    <%= f.label :Company, :class => "field-header" %><br>
    <%= f.text_field :company %>
  </div> 
  
  <div class="clear"></div>

  <div><%= f.label :Phone, :class => "field-header" %><br>
    <%= f.text_field :phone, :id => "phone", :placeholder => "XXX-XXX-XXXX" %></div> 

  <div>
      <span class="field-header">Address</span><br>

      <%= f.fields_for :address do |ff| %>
        <%= ff.text_field :address_1, :placeholder => "Street address" %>
        <%= ff.text_field :address_2, :placeholder => "Apartment, suite, unit, etc." %><br>
        <%= ff.text_field :city, :placeholder => "City" %>
        <%= ff.text_field :state, :placeholder => "State" %>
        <%= ff.text_field :country, :placeholder => "Country" %>
      <% end %>
    </div>
  
  <br>

  <div>
    <span class="field-header">Password<span class="required">*</span></span>
    &nbsp;<a id="password_help" class="help"><i  class="fa fa-question-circle"></i></a><br>
    <%= f.password_field :password %>
  </div>

  <div><%= f.label "Password Confirmation", :class => "field-header" %><span class="required">*</span><br>
  <%= f.password_field :password_confirmation %></div>

  <br>

  <div><%= f.label "Profile picture", :class => "field-header" %>
    &nbsp;<a id="picture_help" class="help"><i class="fa fa-question-circle"></i></a>
    <br>
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 250px; height: 250px;"></div>
      <div>
        <span class="btn btn-default btn-file">
          <span class="fileinput-new">Select image</span>
          <span class="fileinput-exists">Change</span>
          <%= f.file_field :avatar %>
        </span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
      </div>
    </div>
  </div>

  <br>

  <%= check_box_tag :license %>&nbsp;I agree to the terms of use&nbsp;
    <a class="btn btn-primary" id="licenseButton">View</a>

  <br><br>

  <div class="align-right">
    <%= f.submit t("devise.invitations.edit.submit_button"), :class=>"btn btn-primary" %>
  </div>
  <div class="clear"></div>
<% end %>
<hr class="style-one"></hr>
<div class="align-right">
  Want more information? Contact Gann Alumni Affairs at (781)642-6800 or <%= link_to "here", new_contact_path %>
</div>
</div>

<%= render :partial => "shared/registration" %>
