<div class="container">
<h2><%= t "devise.invitations.new.header" %></h2>

<h5>Invite non-alum to use the GAN service!<br>
Type the email address of a person whom you want to send the invitation to</h5>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input field %>
<% end -%>

<%= f.submit t("devise.invitations.new.submit_button") %>
<% end %>
</div>