<% if admin_signed_in? %>
	<%= render "admins/shared/head" %>
<% end %>

<% content_for :title, "Send Invitation" %>

<div class="container">

  	<% if admin_signed_in? %>
  		<%= render "admins/shared/nav" %>
  	<% end %>

    <h2><%= t "devise.invitations.new.header" %></h2>
    <hr class="style-one"></hr>

    <% if @user.errors.any? %>
       <div class="error_messages">
        <h4>Some errors were found.</h4>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <h5>Invite non-alum to use the GAN service!<br>
  Please fill in all the necessary information below. By default, the heading with "Dear Friend" will be attached to the content below.</h5>

  <%= form_tag user_invitation_path, :html => {:method => :post} do %>
    <span class="required">*</span>&nbsp;These fields are required<br><br>
    <% title = "[GAN] Gann Alumni Network Invitation" %>
    <% message = "<span style='font-size: 16px;'>Thank you for registering for the Gann Alumni Network, an innovative initiative to help our alumni find jobs and advance their careers.<br><br> Please click the link below to accept our invitation to become a friend (and provide opportunities for full- and part-time jobs, internships, mentorships, informational interviews and volunteer opportunities).</span>" %>

    
      <div class='section-header'>Email<span class="required">*</span><br>
      <%= text_field_tag :email %></div>

      <br>
      <div class='section-header'>First Name<span class="required">*</span><br>
      <%= text_field_tag :fname %></div>

      <div class='section-header'>Last Name<span class="required">*</span><br>
      <%= text_field_tag :lname %></div>

      <br>

      <div class="section-header">Title<br>
      <%= text_field_tag :title, title, :style =>"width: 350px;" %></div><br><br>
      
      <span class="section-header">Content</span><br>
      <%= text_area_tag :content, message, :class => "tinymce span7", :rows => "6" %>
        <%= tinymce %>

        <br><br>
      
      <div class="pull-right">
        <%= submit_tag "Send invitations", :class => "btn btn-primary" %>
      </div>
  <% end %>
</div>
