<% if admin_signed_in? %>
	<%= render "admins/shared/head" %>
<% end %>

<div class="container">

	<% if admin_signed_in? %>
		<%= render "admins/shared/nav" %>
	<% end %>
<h2><%= t "devise.invitations.new.header" %></h2>

<h5>Invite non-alum to use the GAN service!<br>
Type the email address of a person whom you want to send the invitation to</h5>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <div class='section-header'>Email<br>
  <%=f.text_field :email %></div>

  <div class='section-header'>Title<br>
  <%=f.text_field :title %></div>

  <div class='section-header'>Content<br>
  <%=f.text_field :content %></div>

<div class="pull-right">
	<%= f.submit t("devise.invitations.new.submit_button"), :class => "btn btn-primary" %>
</div>

<% end %>
</div>


<% if false %>
	<% resource.class.invite_key_fields.each do |field| -%>
  <%= f.input field, :class =>"section-header" %>
<% end -%>
<% end %>