<%= image_tag attachments['gann_banner.png'].url %>
<br>

<strong>
	Dear <%= @user.fname %>,
</strong>

<br><br>
<%= @opportunity.user.fname %> has just created the following opportunity in <br>
<span style="font-style: italic;">
	<%= @opportunity.skills.map(&:skill).join(", ") %>
</span>
<br><br>

<h3><%= @opportunity.title %></h3>
<span><strong>Job type:</strong> <%= @opportunity.job_type %></span><br>
<span><strong>Location:</strong> <%= @opportunity.location %></span><br>
<strong>Description:</strong>
<p>
	<%= @opportunity.description.html_safe %>
</p>

<br>
For more details, click on the following link:<br>
<%= link_to "Check out the opportunity", ENV['hostname']+opportunity_path(@opportunity) %>
<br><br><br>

Best,<br>

GAN (Gann Alumni Network) support team