<!DOCTYPE html>
<html>
<head>
  <title>GAN</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container whitefont">
				<a href=<%= main_path %> class="brand">GAN</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href='<%= about_path %>'>About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>

					<div class="nav pull-right navbar-hcenter">
						<% if user_signed_in? %>
							<i class="icon-user"></i>&nbsp;
							Welcome! <strong><%= current_user.full_name %></strong> (<%= current_user.class.name %>)
							&nbsp;|&nbsp;
							<%= link_to "My account", my_account_path %>
							&nbsp;|&nbsp;
							<i class="icon-signout"></i>&nbsp;
							<%= link_to "Logout", destroy_user_session_path, method: :delete %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
