<!DOCTYPE html>
<html>
<head>
  <title>GAN</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" =>true %>

  <%= yield :head %>

  <% if Rails.env.production? %>
  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEzL5mEqr8OympwOHJi96cMDZOVZMreTk&v=3.exp&sensor=false&libraries=places" ></script>
  <% else %>
  	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" ></script>
  <% end %>

  <%= csrf_meta_tags %>

</head>


<body>
	<div id="holder">
		<% if user_signed_in? %>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container whitefont">
						<a href=<%= home_path %> class="brand">GAN</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li><a href='<%= about_path %>' class="whitefont">About</a></li>
								<li><a href="<%= contact_path %>">Contact</a></li>
							</ul>

							<div class="nav pull-right navbar-hcenter">
								Welcome! <strong><%= current_user.full_name %></strong> (<%= current_user.class.name %>)
								&nbsp;|&nbsp;
								<i class="fa fa-tasks"></i>&nbsp;&nbsp;<%= link_to "Opportunities", opportunities_path %>
								&nbsp;|&nbsp;
								<i class="fa fa-user"></i>&nbsp;&nbsp;<%= link_to "My account", my_account_path %>
								&nbsp;|&nbsp;
								<i class="fa fa-briefcase"></i>&nbsp;&nbsp;<%= link_to "My opportunities", my_opportunities_path %>
								&nbsp;|&nbsp;
								<i class="fa fa-sign-out"></i>&nbsp;
								<%= link_to "Logout", destroy_user_session_path, method: :delete %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% else %>
			<div class="blank_block"></div>
		<% end %>

	<div id="body">
		<% flash.each do |name,msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">x</a>
				<%= msg %>
			</div>
		<% end%>

		<div class="container box_shadow box_radius box_padding sky_background">
			
			<%= yield %>
		</div>
	</div>

	<% if user_signed_in? %>
		<div class="footer_bar"><br>
			<p class="whitefont text-align-center"> Best viewed in Firefox and Chrome </p>
		</div>
	<% end %>

</div>
</body>
</html>
