<!DOCTYPE html>
<html>
<head>
  <title>GAN</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if alum_signed_in? %>
		Logged in!
		<%= link_to "Logout", destroy_alum_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign Up", new_alum_registration_path %>
		<%= link_to "Log in", new_alum_session_path %>
	<% end %>
<%= yield %>

</body>
</html>
