<!DOCTYPE html>
<html>
<head>
  <title>GAN</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container whitefont">
				<a href=<%= home_path %> class="brand">GAN</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href='<%= about_path %>'>About</a></li>
						<li><a href="<%= contact_path %>">Contact</a></li>
					</ul>

					<div class="nav pull-right navbar-hcenter">
						<% if user_signed_in? %>
							
							Welcome! <strong><%= current_user.full_name %></strong> (<%= current_user.class.name %>)
							&nbsp;|&nbsp;
							<i class="icon-user"></i>&nbsp;&nbsp;<%= link_to "My account", my_account_path %>
							&nbsp;|&nbsp;
							<i class="icon-briefcase"></i>&nbsp;&nbsp;<%= link_to "My opportunities", my_opportunities_path %>
							&nbsp;|&nbsp;
							<i class="icon-signout"></i>&nbsp;
							<%= link_to "Logout", destroy_user_session_path, method: :delete %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

<% flash.each do |name,msg| %>
	<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		<a class="close" data-dismiss="alert">x</a>
		<%= msg %>
	</div>
<% end%>

<div class="container box_shadow box_radius box_padding sky_background">
	
	<%= yield %>
</div>

</body>
</html>
