<!DOCTYPE html>
<html>
<head>
  <title>GAN</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  
  <% if Rails.env.production? %>
  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEzL5mEqr8OympwOHJi96cMDZOVZMreTk&v=3.exp&sensor=false&libraries=places" ></script>
  <% else %>
  	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" ></script>
  <% end %>

  <%= yield :head %>


  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:700,400' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>

</head>


<body>
  	<div id="holder">
		<% if user_signed_in? %>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="whitefont">
						<a href=<%= home_path %> class="brand">
							Gann Alumni Network
							 <!-- <img src = <%#= image_path("gann_seal.jpg") %> alt="GAN"> -->
						</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li><a href='<%= about_path %>' class="whitefont neatfont">About</a></li>
								<li><a href="<%= new_contact_path %>" class="whitefont neatfont">Contact</a></li>
							</ul>

							<div class="nav pull-right navbar-hcenter">
								Welcome! <strong><%= current_user.full_name %></strong> (<%= current_user.class.name %>)
								&nbsp;|&nbsp;
								<i class="fa fa-home"></i>&nbsp;&nbsp;<%= link_to "Opportunities", opportunities_path %>
								&nbsp;|&nbsp;
								<i class="fa fa-user"></i>&nbsp;&nbsp;<%= link_to "My account", user_path(:id => current_user.id) %>
								&nbsp;|&nbsp;
								<i class="fa fa-briefcase"></i>&nbsp;&nbsp;<%= link_to "My opportunities", my_opportunities_path %>
								&nbsp;|&nbsp;
								<i class="fa fa-sign-out"></i>&nbsp;
								<%= link_to "Logout", destroy_user_session_path, method: :delete %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% else %>
			<div class="blank_block"></div>
		<% end %>

	<div id="body">
		<% flash.each do |name,msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">x</a>
				<%= msg %>
			</div>
		<% end%>
		
		<div class="super-container">
			<%= yield %>
		</div>
	
	</div>

	<% if user_signed_in? %>
		<div class="footer_bar"><br>
			<!-- <p class="whitefont text-align-center"> Best viewed in Firefox and Chrome </p> -->
		</div>
	<% end %>

</div>
</body>
</html>
