<% content_for :head do %>
  <title>GAN Opportunities</title>
  <%= javascript_include_tag "users/registration" %>
<% end %>

<div class="container">
  <div class="text-align-center">
    <h2>Register for Gann Alumni Networks</h2>
  </div>
  
  <br>
  
  <div>
    <h3>Step 1: Authentication</h3>
    
    <hr class="style-one"></hr>
    
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <% if resource.errors.any? %>
        <div class="error_messages">
          <h4>Some errors were found.</h4>
          <ul>
            <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <span class="required">*</span>&nbsp;These fields are required
      <br><br>
      <div><%= f.label :email, :class => "field-header" %><span class="required">*</span><br>
      <%= f.email_field :email, :autofocus => true %>
      </div>


      <div><%= f.label "First Name", :class => "field-header" %><span class="required">*</span><br>
      <%= f.text_field :fname %></div>

      <div><%= f.label "Last Name", :class => "field-header" %><span class="required">*</span><br>
      <%= f.text_field :lname %></div>

      <div><%= f.label "Gann graduation class", :class => "field-header" %><span class="required">*</span><br>
      <%= f.number_field :classyear %></div>

      <br><br>
      <p>
        We want to register you quickly!<br>
        Please input either of your parents' email addresses from the time you were a Gann student.<br>
        This is part of our authentication process.
      </p>
      <br>
      <div><%= f.label "Parent Email", :class => "field-header" %><span class="required">*</span>
      <!-- &nbsp;<a id="registration_parent_email_help" class="help"><i class="fa fa-question-circle"></i></a>   -->
      <br>
      <%= f.email_field :parent_email %></div>  

      <%= f.hidden_field :type, :value => "Alum" %>
      
      <br>

      <div class="align-right">
        <%= f.submit "Sign up", :class => "btn btn-primary" %>
      </div>
      <div class="clear"></div>
      <hr class="style-one"></hr>
      <div class="align-right">
        Having trouble with registration?&nbsp;<%= link_to "Contact us",new_contact_path %>
      </div>
    <% end %>
  </div>
</div>
