<% if @type == "Alum" %>
  <h2>Register as Alum for GAN</h2><br>
  <h3>Step 1: Alum Authentication</h3>
  <p>
    To ensure the confidentiality of the Gann community,<br> 
    we ask users to provide a parent's email address and graduation year.<br>
  </p>

<% else %>
  <h2>Register as Friend for GAN</h2><br>
  <h3>Step 1: Friend Authentication</h3>
  <p>
    To ensure the security of the system, we are doing basic friend authentication<br>
    The invitation code sent by one of the alum will be used (Not implemented for MVP)<br>
  </p>
<% end %>
<br>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>


  <!--<% if session[:previous]!=nil %>
    <div><%= f.label :email, :class => "section-header" %>
    <%= f.email_field :email, :value => session[:previous][:email], :autofocus => true %>
    </div>

  <% end %>-->
 

  <div><%= f.label :email, :class => "section-header" %><br>
  <%= f.email_field :email, :autofocus => true %>
  </div>


  <div><%= f.label "First Name", :class => "section-header" %><br>
  <%= f.text_field :fname %></div>

  <div><%= f.label "Last Name", :class => "section-header" %><br>
  <%= f.text_field :lname %></div>

  <br>

  <% if @type == "Alum" %>

    <div><%= f.label "Parent Email", :class => "section-header" %><br>
    <%= f.email_field :parent_email %></div>  

  	<div><%= f.label "Class Year", :class => "section-header" %><br>
  	 <%= f.number_field :classyear %></div>
  
  <% end %>

  <%= f.hidden_field :type, :value => @type %>

  <div><%= f.submit "Sign up", :class => "btn btn-info" %></div>
<% end %>

